@import "../../../assets/style/colors.scss";

.post-view {
    padding: 20px;
    border-radius: 0 !important;

    color: $dark;

    border: none;
    border-bottom: solid 2px $primary;

    .username {
        font-weight: bold;
    }

    .flat-id,
    .role,
    .post-date {
        color: $secondary;
    }
}
