@import "../../index";

.settings-profile-image {
        border-radius: 50%;
        width: clamp(120px, 20vw, 150px);
        height: clamp(120px, 20vw, 150px);
        margin-top: 30px;
}

.setting-option{
    border-top: 1px solid $dark;
    width: 100%;
    padding: 20px;
    cursor: pointer;
}