@import "../../../index.scss";

button {
  &.button-primary {
    background-color: $dark;
    color: $white;
    @include icon-color($white);
  }

  &.button-secondary {
    background-color: $primary;
    color: $white;
    @include icon-color($white);
  }

  &.button-tertiary {
    background-color: $light;
    color: $dark;
    @include icon-color($dark);
  }

  &.button-sm {
    height: 34px;
    max-width: 100px;
  }
}