@import "../../../index.scss";

.username {
    font-weight: bold;
}

.rel { 
    position: relative;
    height: 100%;
}

.form {
    width: 100%;
}

.create-post-user {
    margin-left: 20px;
}

.text-input{
    border: none !important;
    padding: 10px 20px !important;
    box-sizing: border-box !important;
    min-height: 150px !important;
    height: 0 !important;
    width: 100%;
    resize: none;

    &:focus, &:active {
        box-shadow: none !important;
        outline: none !important;
    }
}

.createPostFooter{
    width: 100%;
    margin-top: 10px;
}

.footer-option {
    width: 100%;
    border-bottom: 1px solid #6366f1;
    color: #6366f1;
    padding: 7px 15px;
    display: flex;
    column-gap: 7px;
    align-items: center;
    min-height: 49px;
}

.inline-incidence-icon-right {
    @include icon-color($secondary)
}

.priority-selected {
    @include icon-color($primary)
}

