{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["react", "prettier"],
    "extends": [
      "prettier"
    ],
    "rules": {
      "no-console": 1,
      "prettier/prettier": 2
    },
    "settings": {
      "react": {
        "pragma": "React",
        "version": "detect"
      }
    }
  }
  