@import "../../index";

.auth-page {
  text-align: center;

  background: linear-gradient(150deg, rgba(167,139,250,1) 0%, rgba(99,102,241,1) 50%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;

  > * {
    width: 100%;
  }

  color: #ffffff;

  .auth-page-header {
    display: flex;
    justify-content: center;
  }

  .auth-page-body {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

  .add-photo-icon {
    @include icon-color($primary);
  }

  .mobile-back-icon {
    @include icon-color($white);
  }
}




