@import "../../../assets/style/colors.scss";

.incident-badge {
    margin-bottom: 10px;
}

.incident-badge-solved {
    background-color: $success !important;
}
.incident-badge-progess {
    background-color: $warning !important;
}
.incident-badge-approved {
    background-color: #38bdf8 !important;
}
.incident-badge-rejected {
    background-color: $danger !important;
}
.incident-badge-pending {
    background-color: $secondary !important;
}
