@import "../../../assets/style/colors.scss";

.post {
    padding: 10px 20px;
    border-radius: 0 !important;

    cursor: pointer;
    color: $dark;

    border: none;
    border-bottom: solid 1px $light;

    .post-text {
        display: block;
        margin-left: 60px;
    }

    .bg-primary {
        background-color: #22c55e;
    }

    .username {
        font-weight: bold;
    }

    .flat-id {
        color: $secondary;
    }

    .anchor-text {
        color: $secondary;
        font-size: medium;
        display: inline-block;
        margin-bottom: 10px;
    }

    .anchor-icon {
        color: $secondary;
        font-size: medium;
        display: inline-block;
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .incident-icon {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 15px;
    }

    .post-footer-wrapper {
        margin-left: 60px;
    }
}
