.post-footer {
    .footer-text {
        color: #6b7280;
        font-size: medium;
        display: inline-block;
        margin-left: 5px;
    }

    .footer-icon {
        display: inline-block;
    }
}
