.my-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.my-modal-wrapper.modal-from-bottom {
    align-items: end;
}

.my-modal-wrapper.modal-from-bottom .my-modal {
    min-width: 650px;
    animation: from-bot 0.3s;
}

.my-modal-wrapper .my-modal {
    max-width: 80%;
    max-height: 80%;
    background-color: white;
    padding: 40px;
    box-sizing: border-box;

    position: relative;
}

.my-modal-wrapper .my-modal .my-modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.my-modal-wrapper .my-modal .my-modal-footer {
    margin-top: auto;
}

@media (max-width: 650px) {
    .my-modal-wrapper .my-modal {
        min-width: unset;
        max-width: unset;
        max-height: unset;
    }

    .my-modal-wrapper.modal-from-bottom .my-modal {
        min-width: 100vw;
    }
}

@keyframes from-bot {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
