@import "../../../index.scss";

.left-menu {
    align-items: flex-end !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    align-items: flex-end;

    .left-menu-container {
        width: 100%;
        height: 100%;

        align-items: flex-end;

        > * {
            margin-top: 20px !important;
            padding-left: 20px;
        }
    }

    @media (max-width: $break-mobile) {
        display: none;
    }
}
