.profile-image-container {
    position: relative;

    .profile-image {
        border-radius: 50%;

        &.profile-image-sm {
            width: 48px;
            height: 48px;
        }
        &.profile-image-md {
            width: 72px;
            height: 72px;
        }
        &.profile-image-lg {
            width: clamp(120px, 20vw, 150px);
            height: clamp(120px, 20vw, 150px);
        }
    }

    .role-badge {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
