@import "../../index.scss";

.base-page {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    .page-content {
        position: relative;

        max-width: 600px;
        min-width: 600px;
        max-height: 100vh;
        min-height: 100vh;
        margin: 0 auto;

        border-left: solid 1px $light;
        border-right: solid 1px $light;

        @media (max-width: $break-mobile) {
            margin: 0 auto 90px;
            min-width: unset;

            max-height: calc(100vh - 90px);
            min-height: calc(100vh - 90px);

            border-left: none;
            border-right: none;
        }
    }
}
